In [11]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import random
import pickle
import statsmodels.api as sm
from scipy.optimize import minimize
from sklearn.linear_model import LinearRegression
from linearmodels import PanelOLS, PooledOLS, IV2SLS

In [12]:
import os
os.chdir("C:/Users/Canaan/Downloads")

In [13]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20150101_20150630.csv', header=None)

C:\Users\Canaan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707953 entries, 0 to 707952
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       707953 non-null  object
 1   1       707953 non-null  object
 2   2       707922 non-null  object
 3   3       707953 non-null  object
 4   4       707953 non-null  object
 5   5       707953 non-null  float64
 6   6       674071 non-null  float64
 7   7       707953 non-null  object
 8   8       707953 non-null  int64
 9   9       707953 non-null  object
 10  10      707953 non-null  object
 11  11      707952 non-null  object
 12  12      707953 non-null  object
 13  13      707950 non-null  float64
 14  14      707568 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 81.0+ MB

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1HD1BWV14FB025806,HD,--,MC,ROAD/STREET,22492.7,5.0,26:44.0,88,MN000079,350 TARHE TRAIL,UPPER SANDUSKY,OH,43351.0,45867
1,1HD1KRM19FB629953,HD,--,MC,ROAD/STREET,29044.0,7.0,39:47.0,88,MN000079,350 TARHE TRAIL,UPPER SANDUSKY,OH,43351.0,43466
2,1FADP3F20DL339908,FORD,FOCUS SE,4D,FOUR DOOR,13050.0,27683.0,49:43.0,56,ND000549,117 E CHURCH ST,WOODSFIELD,OH,43793.0,43793
3,1J8GN58K29W535563,JEEP,--,SW,STATION WAGON,12000.0,56224.0,48:28.0,83,UD001050,714 COLUMBUS AVE,LEBANON,OH,45036.0,45068
4,2GTEC19T421184446,GMC,SIERRA C1500SIE,PT,PICKUP TRUCK,6995.0,111339.0,48:33.0,83,UD001050,714 COLUMBUS AVE,LEBANON,OH,45036.0,45103

In [16]:
##firstType = ((-df.iloc[:, 15].isna()) & (df.iloc[:, 16].isna()))
##secondType = ((-df.iloc[:, 15].isna()) & (-df.iloc[:, 16].isna()))

In [17]:
columName = ["VIN", "make", "model", "BT", "BTD", "price", "mileage", "date", "countyCode",
             "dealerNum", "dealerST", "dealerCity", "dealerState", "dealerZIP", "ownerZIP"]
df.columns = columName

In [18]:
df['ownerZIP'] = pd.to_numeric(df['ownerZIP'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707953 entries, 0 to 707952
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VIN          707953 non-null  object
 1   make         707953 non-null  object
 2   model        707922 non-null  object
 3   BT           707953 non-null  object
 4   BTD          707953 non-null  object
 5   price        707953 non-null  float64
 6   mileage      674071 non-null  float64
 7   date         707953 non-null  object
 8   countyCode   707953 non-null  int64
 9   dealerNum    707953 non-null  object
 10  dealerST     707953 non-null  object
 11  dealerCity   707952 non-null  object
 12  dealerState  707953 non-null  object
 13  dealerZIP    707950 non-null  float64
 14  ownerZIP     707553 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 81.0+ MB

In [20]:
zipcross = pd.read_csv('ZipCodetoZCTACrosswalk2015UDS (1).csv')
zipcross = zipcross[["ZIP", "ZCTA_USE"]]

In [21]:
df = df.merge(zipcross, left_on='ownerZIP', right_on='ZIP')

In [23]:
df.to_csv('C:/Users/Canaan/Downloads/20150106Title.csv')

In [24]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20150701_20151231.csv', header=None)
df.columns = columName
df['ownerZIP'] = pd.to_numeric(df['ownerZIP'], errors='coerce')
df.info()
df.to_csv('C:/Users/Canaan/Downloads/20150712Title.csv')

C:\Users\Canaan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20160101_20160630.csv', header=None)
df.columns = columName
df['ownerZIP'] = pd.to_numeric(df['ownerZIP'], errors='coerce')
df.info()
df.to_csv('C:/Users/Canaan/Downloads/20160106Title.csv')

In [29]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20160701_20161231.csv', header=None)
df.columns = columName
df['ownerZIP'] = pd.to_numeric(df['ownerZIP'], errors='coerce')
df.info()
df.to_csv('C:/Users/Canaan/Downloads/20160712Title.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687549 entries, 0 to 687548
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VIN          687549 non-null  object
 1   make         687549 non-null  object
 2   model        687518 non-null  object
 3   BT           687549 non-null  object
 4   BTD          687549 non-null  object
 5   price        687549 non-null  float64
 6   mileage      656578 non-null  float64
 7   date         687549 non-null  object
 8   countyCode   687549 non-null  int64
 9   dealerNum    687549 non-null  object
 10  dealerST     687549 non-null  object
 11  dealerCity   687549 non-null  object
 12  dealerState  687549 non-null  object
 13  dealerZIP    687545 non-null  float64
 14  ownerZIP     687267 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 78.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687549 entries, 0 to 687548
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VIN          687549 non-null  object
 1   make         687549 non-null  object
 2   model        687518 non-null  object
 3   BT           687549 non-null  object
 4   BTD          687549 non-null  object
 5   price        687549 non-null  float64
 6   mileage      656578 non-null  float64
 7   date         687549 non-null  object
 8   countyCode   687549 non-null  int64
 9   dealerNum    687549 non-null  object
 10  dealerST     687549 non-null  object
 11  dealerCity   687549 non-null  object
 12  dealerState  687549 non-null  object
 13  dealerZIP    687545 non-null  float64
 14  ownerZIP     687250 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 78.7+ MB

In [39]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20170101_20170630.csv', header=None)
df.columns = columName
df['ownerZIP'] = pd.to_numeric(df['ownerZIP'], errors='coerce')
df.info()
df.to_csv('C:/Users/Canaan/Downloads/20170106Title.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731240 entries, 0 to 731239
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VIN          731240 non-null  object
 1   make         731240 non-null  object
 2   model        731207 non-null  object
 3   BT           731240 non-null  object
 4   BTD          731240 non-null  object
 5   price        731240 non-null  float64
 6   mileage      695165 non-null  float64
 7   date         731240 non-null  object
 8   countyCode   731240 non-null  int64
 9   dealerNum    731240 non-null  object
 10  dealerST     731240 non-null  object
 11  dealerCity   731240 non-null  object
 12  dealerState  731240 non-null  object
 13  dealerZIP    731238 non-null  float64
 14  ownerZIP     730845 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 83.7+ MB

In [50]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20170701_20171231.csv', header=None)
df.columns = columName
df['ownerZIP'] = pd.to_numeric(df['ownerZIP'], errors='coerce')
df.info()
df.to_csv('C:/Users/Canaan/Downloads/20170712Title.csv')

C:\Users\Canaan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692342 entries, 0 to 692341
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VIN          692342 non-null  object
 1   make         692342 non-null  object
 2   model        692313 non-null  object
 3   BT           692342 non-null  object
 4   BTD          692342 non-null  object
 5   price        692342 non-null  float64
 6   mileage      658145 non-null  float64
 7   date         692342 non-null  object
 8   countyCode   692342 non-null  int64
 9   dealerNum    692342 non-null  object
 10  dealerST     692342 non-null  object
 11  dealerCity   692342 non-null  object
 12  dealerState  692342 non-null  object
 13  dealerZIP    692341 non-null  float64
 14  ownerZIP     691920 non-null  float64
dtypes: float64(4), int64(1), object(10)
memory usage: 79.2+ MB

In [1]:
##firstType = ((-df.iloc[:, 15].isna()) & (df.iloc[:, 16].isna()))
##secondType = ((-df.iloc[:, 15].isna()) & (-df.iloc[:, 16].isna()))

##df.loc[(-df.iloc[:, 15].isna())]