In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import random
import pickle
import statsmodels.api as sm
from scipy.optimize import minimize
from sklearn.linear_model import LinearRegression
from statsmodels.sandbox.regression.gmm import IV2SLS

In [2]:
import os
os.chdir('/Users/jhongyihuang/Downloads')

In [27]:
df = pd.read_stata('blundell_bond_2000_production_function.dta')
df[["sales", "labor", "capital"]] = np.log(df[["sales", "labor", "capital"]])

In [28]:
df.head()

      id    year     sales     labor   capital
0  886.0  1982.0  4.579228  0.571544  3.577469
1  886.0  1983.0  4.472189  0.640801  3.610862
2  886.0  1984.0  4.567035  0.440832  3.694748
3  886.0  1985.0  4.885006  0.547543  3.796566
4  886.0  1986.0  4.999058  0.547543  3.976419

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4072 entries, 0 to 4071
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       4072 non-null   float32
 1   year     4072 non-null   float32
 2   sales    4072 non-null   float32
 3   labor    4072 non-null   float32
 4   capital  4072 non-null   float32
dtypes: float32(5)
memory usage: 111.3 KB

In [30]:
res = sm.OLS.from_formula('sales ~ labor + capital + C(year)', df).fit()

In [31]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.969
Model:                            OLS   Adj. R-squared:                  0.969
Method:                 Least Squares   F-statistic:                 1.425e+04
Date:                Sun, 04 Jun 2023   Prob (F-statistic):               0.00
Time:                        21:33:24   Log-Likelihood:                -1527.7
No. Observations:                4072   AIC:                             3075.
Df Residuals:                    4062   BIC:                             3139.
Df Model:                           9
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             3.0468      0.032     96.644      0.000       2.985       3.109
C(year)[T.1983.0]    -0.0569      0.022     -2.572      0.010      -0.100      -0.014
C(year)[T.1984.0]    -0.0500      0.022     -2.261      0.024      -0.093      -0.007
C(year)[T.1985.0]    -0.0876      0.022     -3.945      0.000      -0.131      -0.044
C(year)[T.1986.0]    -0.0929      0.022     -4.170      0.000      -0.137      -0.049
C(year)[T.1987.0]    -0.0581      0.022     -2.605      0.009      -0.102      -0.014
C(year)[T.1988.0]    -0.0212      0.022     -0.948      0.343      -0.065       0.023
C(year)[T.1989.0]    -0.0383      0.022     -1.707      0.088      -0.082       0.006
labor                 0.5579      0.010     56.761      0.000       0.539       0.577
capital               0.4323      0.008     53.108      0.000       0.416       0.448
==============================================================================
Omnibus:                      302.557   Durbin-Watson:                   0.422
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              523.230
Skew:                           0.549   Prob(JB):                    2.41e-114
Kurtosis:                       4.370   Cond. No.                         49.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
R = np.zeros_like(res.params)
R[8:] = [1, 1]
print(R)
q = 1

[0. 0. 0. 0. 0. 0. 0. 0. 1. 1.]

In [35]:
T_test = res.t_test((R, q))

In [37]:
T_test

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.9902      0.003     -3.049      0.002       0.984       0.996
==============================================================================