In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import random
import pickle
import statsmodels.api as sm
from scipy.optimize import minimize
from sklearn.linear_model import LinearRegression
from linearmodels import PanelOLS, PooledOLS, IV2SLS

In [ ]:
pip install pydynpd

In [16]:
from  pydynpd import regression

In [2]:
import os
os.chdir('/Users/jhongyihuang/Downloads')

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/Users/jhongyihuang/Downloads'

In [2]:
df = pd.read_stata('blundell_bond_2000_production_function.dta')
df[["sales", "labor", "capital"]] = np.log(df[["sales", "labor", "capital"]])

In [3]:
df.head()

      id    year     sales     labor   capital
0  886.0  1982.0  4.579228  0.571544  3.577469
1  886.0  1983.0  4.472189  0.640801  3.610862
2  886.0  1984.0  4.567035  0.440832  3.694748
3  886.0  1985.0  4.885006  0.547543  3.796566
4  886.0  1986.0  4.999058  0.547543  3.976419

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4072 entries, 0 to 4071
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       4072 non-null   float32
 1   year     4072 non-null   float32
 2   sales    4072 non-null   float32
 3   labor    4072 non-null   float32
 4   capital  4072 non-null   float32
dtypes: float32(5)
memory usage: 111.3 KB

#### Q2.1. OLS with time dummies. Test the null hypothesis $\alpha_L + \alpha_K = 1$.

Suppose the production fucntion is $Y_{it} =  L_{it}^{\alpha_L} K_{it}^{\alpha_K} \exp(\omega_{it}+e_{it})$.
After taking log-transformation, we have the regression

\begin{align}
y_{it} =  \alpha_L l_{it} + \alpha_K k_{it} + \omega_{it}+e_{it}
\end{align}

In [5]:
dummies = pd.get_dummies(df['year']).rename(columns=lambda x: 'year_' + str(x))
df = pd.concat([df, dummies], axis=1)
df = df.set_index(['id', 'year'])

In [6]:
exog_ind = ['labor', 'capital'] + [col for col in df.columns if 'year' in col]

exog_var = df[exog_ind]
endog_var = df['sales']



model_OLS = sm.OLS(endog=endog_var, exog=exog_var).fit()

In [7]:
print(model_OLS.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.969
Model:                            OLS   Adj. R-squared:                  0.969
Method:                 Least Squares   F-statistic:                 1.425e+04
Date:                Wed, 09 Aug 2023   Prob (F-statistic):               0.00
Time:                        12:32:42   Log-Likelihood:                -1527.7
No. Observations:                4072   AIC:                             3075.
Df Residuals:                    4062   BIC:                             3139.
Df Model:                           9
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
labor           0.5579      0.010     56.761      0.000       0.539       0.577
capital         0.4323      0.008     53.108      0.000       0.416       0.448
year_1982.0     3.0468      0.032     96.644      0.000       2.985       3.109
year_1983.0     2.9900      0.032     93.384      0.000       2.927       3.053
year_1984.0     2.9968      0.033     91.932      0.000       2.933       3.061
year_1985.0     2.9593      0.033     88.711      0.000       2.894       3.025
year_1986.0     2.9540      0.034     87.051      0.000       2.887       3.021
year_1987.0     2.9888      0.034     87.450      0.000       2.922       3.056
year_1988.0     3.0257      0.034     88.144      0.000       2.958       3.093
year_1989.0     3.0086      0.035     86.099      0.000       2.940       3.077
==============================================================================
Omnibus:                      302.557   Durbin-Watson:                   0.422
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              523.230
Skew:                           0.549   Prob(JB):                    2.41e-114
Kurtosis:                       4.370   Cond. No.                         90.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Test $\alpha_L + \alpha_K = 1$ by F-test and t-test separately.

In [8]:
F_test = model_OLS.f_test('labor + capital = 1')
F_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<F test: F=array([[9.29374035]]), p=0.0023141886029365514, df_denom=4.06e+03, df_num=1>

In [9]:
R = np.zeros_like(model_OLS.params)
R[0:2] = [1, 1]
print(R)
q = 1

T_test = model_OLS.t_test((R, q))
T_test

[1. 1. 0. 0. 0. 0. 0. 0. 0. 0.]

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.9902      0.003     -3.049      0.002       0.984       0.996
==============================================================================

#### Q2.2. Fixed Effects estimator with time dummies. Test $\eta_{i} = 0, \mbox{ } \forall i$.

Suppose $\omega_{it} = \gamma_{t} + \eta_{i}$. Then we can use time dummies to control $ \gamma_{t}$ and the fixed effect on entity to remove $\eta_{i}$.

In [10]:
model_FE = PanelOLS(dependent=endog_var, exog=exog_var, entity_effects=True).fit()

print(model_FE.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  sales   R-squared:                        0.7379
Estimator:                   PanelOLS   R-squared (Between):              0.9537
No. Observations:                4072   R-squared (Within):               0.7379
Date:                Wed, Aug 09 2023   R-squared (Overall):              0.9498
Time:                        12:32:44   Log-likelihood                    2302.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      1111.5
Entities:                         509   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                  F(9,3554)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):          6.321e+05
                                        P-value                           0.0000
Time periods:                       8   Distribution:                  F(9,3554)
Avg Obs:                       509.00
Min Obs:                       509.00
Max Obs:                       509.00

                              Parameter Estimates
===============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------
labor           0.6545     0.0144     45.434     0.0000      0.6262      0.6827
capital         0.2329     0.0136     17.079     0.0000      0.2062      0.2596
year_1982.0     3.8638     0.0529     73.000     0.0000      3.7600      3.9676
year_1983.0     3.8262     0.0541     70.689     0.0000      3.7200      3.9323
year_1984.0     3.8562     0.0556     69.398     0.0000      3.7472      3.9651
year_1985.0     3.8404     0.0570     67.373     0.0000      3.7286      3.9521
year_1986.0     3.8502     0.0580     66.360     0.0000      3.7364      3.9639
year_1987.0     3.8952     0.0586     66.416     0.0000      3.7802      4.0102
year_1988.0     3.9392     0.0591     66.683     0.0000      3.8233      4.0550
year_1989.0     3.9402     0.0603     65.382     0.0000      3.8221      4.0584
===============================================================================

F-test for Poolability: 38.903
P-value: 0.0000
Distribution: F(508,3554)

Included effects: Entity

In [11]:
formula = 'labor + capital = 1'

model_FE.wald_test(formula=formula)

Linear Equality Hypothesis Test
H0: Linear equality constraint is valid
Statistic: 121.3166
P-value: 0.0000
Distributed: chi2(1)
WaldTestStatistic, id: 0x19c8fe4d910

According the above test, we can reject the null hypothesis $\alpha_L + \alpha_K = 1$ under the significant level $1\%$.
That is, the production fucntion is decreasing return-to-scale.

Also, for the test of the null hypothesis of $\eta_i = 0\mbox{ }, \forall i$, 
the F-test statistics is $38.901$ and the p-value is $0$. Thus, we can reject the null hypothesis of no time-invariant unobserved heterogeneity

We expect the FE estimator to be biased. The estimator may control for the endogeneity due to the fixed effect $\eta_i$ but not for the correlation between the regressors and transitory shock $e_{it}$.

#### Q2.3. Fixed Effects - Cochrane Orcutt estimator with time dummies. Test the two over-identifying restrictions of the model.

Suppose $e_{it} = \rho e_{it-1} + u_{it}, \mbox{ } |\rho| < 1$ and $u_{it}$ is independent of other variables. We have
\begin{align}
y_{it} &=  \alpha_L l_{it} + \alpha_K k_{it} + \omega_{it}+e_{it}\\
\rho y_{it-1} &=  \rho\alpha_L l_{it-1} + \rho \alpha_K k_{it-1} + \rho \omega_{it-1}+\rho e_{it-1}.
\end{align}
Thus, the regression becomes
\begin{align}
y_{it} &= \rho y_{it-1} +  \alpha_L (l_{it}-\rho l_{it-1}) + \alpha_K (k_{it}-\rho  k_{it-1} ) + (\omega_{it}-\rho \omega_{it-1})+u_{it}\\
       &= \rho y_{it-1} +  \alpha_L l_{it} - \alpha_L \rho l_{it-1} + \alpha_K k_{it} - \alpha_K \rho  k_{it-1} + \eta^*_i + \gamma^*_t  +u_{it}
\end{align}

Here suppose $\omega_{it}-\rho \omega_{it-1} = \eta^*_i + \gamma^*_t$.

In [12]:
exog_var = pd.concat([df['sales'].groupby('id').shift(1), df['labor'], df['labor'].groupby('id').shift(1),
                      df['capital'], df['capital'].groupby('id').shift(1)], axis=1,
                     keys=['sales_L1', 'labor', 'labor_L1', 'capital', 'capital_L1'])

exog_var = pd.concat([exog_var.reset_index(), dummies], axis=1)
exog_var = exog_var.set_index(['id', 'year']).dropna()
exog_var = exog_var.loc[:,exog_var.columns != 'year_1982.0']

endog_var = df['sales'].groupby('id', group_keys=False).apply(lambda group: group.iloc[1:])

In [13]:
model_FE_CO = PanelOLS(dependent=endog_var, exog=exog_var, entity_effects=True).fit()

print(model_FE_CO.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  sales   R-squared:                        0.7825
Estimator:                   PanelOLS   R-squared (Between):              0.9745
No. Observations:                3563   R-squared (Within):               0.7825
Date:                Wed, Aug 09 2023   R-squared (Overall):              0.9717
Time:                        12:32:53   Log-likelihood                    2757.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      995.10
Entities:                         509   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                 F(11,3043)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):          6.641e+05
                                        P-value                           0.0000
Time periods:                       7   Distribution:                 F(11,3043)
Avg Obs:                       509.00
Min Obs:                       509.00
Max Obs:                       509.00

                              Parameter Estimates
===============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------
sales_L1        0.4039     0.0153     26.448     0.0000      0.3740      0.4339
labor           0.4880     0.0167     29.266     0.0000      0.4553      0.5207
labor_L1       -0.0231     0.0192    -1.2012     0.2298     -0.0609      0.0146
capital         0.1765     0.0178     9.9022     0.0000      0.1416      0.2115
capital_L1     -0.1305     0.0164    -7.9561     0.0000     -0.1627     -0.0984
year_1983.0     2.6255     0.0800     32.835     0.0000      2.4688      2.7823
year_1984.0     2.6819     0.0805     33.305     0.0000      2.5241      2.8398
year_1985.0     2.6527     0.0819     32.396     0.0000      2.4921      2.8132
year_1986.0     2.6750     0.0826     32.372     0.0000      2.5130      2.8370
year_1987.0     2.7288     0.0834     32.733     0.0000      2.5654      2.8923
year_1988.0     2.7566     0.0842     32.735     0.0000      2.5915      2.9217
year_1989.0     2.7430     0.0853     32.162     0.0000      2.5758      2.9102
===============================================================================

F-test for Poolability: 3.7564
P-value: 0.0000
Distribution: F(508,3043)

Included effects: Entity

In [72]:
b = model_FE_CO.params

c_b = b[0] + b[2] / b[1]
c_b_deriv = np.array([1, -b[2]/(b[1]**2), 1/b[1], 0, 0, 0, 0, 0, 0, 0, 0, 0])

testStat1 = c_b * (c_b_deriv @ (model_FE_CO.cov) @ np.transpose(c_b_deriv))**(-1) * c_b

testStat1

111.37450034582149

In [71]:
c_b = b[0] + b[4] / b[3]
c_b_deriv = np.array([1, 0, 0, -b[4]/(b[3]**2), 1/b[3], 0, 0, 0, 0, 0, 0, 0])

testStat2 = c_b * (c_b_deriv @ (model_FE_CO.cov) @ np.transpose(c_b_deriv))**(-1) * c_b

testStat2

21.13049776842449

In [73]:
c_b = np.array([b[0] + b[2] / b[1],  b[0] + b[4] / b[3]])
c_b_deriv = np.array([[1, -b[2]/(b[1]**2), 1/b[1], 0, 0, 0, 0, 0, 0, 0, 0, 0],
                     [1, 0, 0, -b[4]/(b[3]**2), 1/b[3], 0, 0, 0, 0, 0, 0, 0]])

testStat3 = np.transpose(c_b) @ np.linalg.inv(c_b_deriv @ (model_FE_CO.cov) @ np.transpose(c_b_deriv)) @ c_b

testStat3

112.42524086858583

#### Q2.4. Arellano-Bond GMM estimator with time dummies and non-serially correlated transitory shock.

Suppose 
\begin{align}
y_{it}&=  \alpha_L l_{it} + \alpha_K k_{it} + \omega_{it}+e_{it}\\
       \omega_{it} &=\eta_{i} + \delta_t
\end{align}
After taking the first difference, the equation becomes
\begin{align}
\Delta y_{it} &= \alpha_L \Delta l_{it} + \alpha_K \Delta k_{it} +  \Delta \omega_{it}+ \Delta e_{it}\\
                &= \alpha_L \Delta l_{it} + \alpha_K \Delta k_{it} +  \Delta \delta_{t}+ \Delta e_{it}\\
\end{align}

Since there is no serial correlated transitory shock in productivity, so $\{\Delta e_{it}\}$ is uncorrelated with $\{l_{it-j}, k_{it-j}, y_{it-j}\}_{j\geq 2}$.

Suppose $l_{it} = f_{l}(l_{it-1}, k_{it-1}, \omega_{it})$ and $k_{it} = f_{k}(l_{it-1}, k_{it-1}, \omega_{it})$.
Thus, we have the laggaed variables as the instruments for the regression. Let choose $\{l_{it-2}, k_{it-2}\}$ as valid instruments.

In [102]:
command_str='sales labor capital | gmm(sales, 2:.) gmm(labor, 1:.) gmm(capital, 1:.) | nolevel timedumm'
mypyd = regression.abond(command_str, df, ['id', 'year'])

IndexError: list index out of range

In [97]:
df.reset_index()

In [94]:
df

,id,year,sales,labor,capital,year_1982.0,year_1983.0,year_1984.0,year_1985.0,year_1986.0,year_1987.0,year_1988.0,year_1989.0,_individual,_time,_NT
0,886.0,1982.0,4.579228,0.571544,3.577469,1,0,0,0,0,0,0,0,0,0,0
1,886.0,1983.0,4.472189,0.640801,3.610862,0,1,0,0,0,0,0,0,0,1,1
2,886.0,1984.0,4.567035,0.440832,3.694748,0,0,1,0,0,0,0,0,0,2,2
3,886.0,1985.0,4.885006,0.547543,3.796566,0,0,0,1,0,0,0,0,0,3,3
4,886.0,1986.0,4.999058,0.547543,3.976419,0,0,0,0,1,0,0,0,0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4067,989349.0,1985.0,7.450092,3.496508,6.337599,0,0,0,1,0,0,0,0,508,3,4067
4068,989349.0,1986.0,7.576933,3.610918,6.417908,0,0,0,0,1,0,0,0,508,4,4068
4069,989349.0,1987.0,7.767560,3.555348,6.450944,0,0,0,0,0,1,0,0,508,5,4069
4070,989349.0,1988.0,7.856476,3.583519,6.467935,0,0,0,0,0,0,1,0,508,6,4070
4071,989349.0,1989.0,7.264642,3.465736,6.431773,0,0,0,0,0,0,0,1,508,7,4071