In [54]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import random
import pickle
import statsmodels.api as sm
from scipy.optimize import minimize
from sklearn.linear_model import LinearRegression
from linearmodels import PanelOLS, PooledOLS, IV2SLS

In [55]:
import os
os.chdir("C:/Users/Canaan/Downloads")

In [56]:
df = pd.read_csv('TitleRequest20230701041605/INC7628889_20150101_20150630.csv', header=None)

C:\Users\Canaan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,8,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707953 entries, 0 to 707952
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       707953 non-null  object
 1   1       707953 non-null  object
 2   2       707921 non-null  object
 3   3       707953 non-null  object
 4   4       707953 non-null  object
 5   5       707953 non-null  object
 6   6       674074 non-null  float64
 7   7       707950 non-null  object
 8   8       707953 non-null  object
 9   9       707953 non-null  object
 10  10      707953 non-null  object
 11  11      707951 non-null  object
 12  12      707952 non-null  object
 13  13      707950 non-null  object
 14  14      707578 non-null  object
 15  15      14 non-null      float64
 16  16      5 non-null       float64
dtypes: float64(3), object(14)
memory usage: 91.8+ MB

In [50]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1HD1BWV14FB025806,HD,--,MC,ROAD/STREET,22492.7,5.0,26:44.0,88,MN000079,350 TARHE TRAIL,UPPER SANDUSKY,OH,43351,45867,NaN,NaN
1,1HD1KRM19FB629953,HD,--,MC,ROAD/STREET,29044,7.0,39:47.0,88,MN000079,350 TARHE TRAIL,UPPER SANDUSKY,OH,43351,43466,NaN,NaN
2,1FADP3F20DL339908,FORD,FOCUS SE,4D,FOUR DOOR,13050,27683.0,49:43.0,56,ND000549,117 E CHURCH ST,WOODSFIELD,OH,43793,43793,NaN,NaN
3,1J8GN58K29W535563,JEEP,--,SW,STATION WAGON,12000,56224.0,48:28.0,83,UD001050,714 COLUMBUS AVE,LEBANON,OH,45036,45068,NaN,NaN
4,2GTEC19T421184446,GMC,SIERRA C1500SIE,PT,PICKUP TRUCK,6995,111339.0,48:33.0,83,UD001050,714 COLUMBUS AVE,LEBANON,OH,45036,45103,NaN,NaN

In [51]:
columName = ["VIN", "make", "model", "BT", "BTD", "price", "mileage", "date", "countyCode",
             "dealerNum", "dealerST", "dealerCity", "dealerState", "dealerZIP", "ownerZIP"]

In [52]:
df = df.iloc[:, :(-2)]
df.columns = columName

In [53]:
pd.to_numeric(df['price']).astype(float)

ValueError: Unable to parse string "ALL TERRAIN" at position 368109

In [8]:
df.head()

,VIN,make,model,BT,BTD,price,mileage,date,countyCode,dealerNum,dealerST,dealerCity,dealerState,dealerZIP,ownerZIP
0,1HD1BWV14FB025806,HD,--,MC,ROAD/STREET,22492.7,5.0,26:44.0,88,MN000079,350 TARHE TRAIL,UPPER SANDUSKY,OH,43351,45867
1,1HD1KRM19FB629953,HD,--,MC,ROAD/STREET,29044,7.0,39:47.0,88,MN000079,350 TARHE TRAIL,UPPER SANDUSKY,OH,43351,43466
2,1FADP3F20DL339908,FORD,FOCUS SE,4D,FOUR DOOR,13050,27683.0,49:43.0,56,ND000549,117 E CHURCH ST,WOODSFIELD,OH,43793,43793
3,1J8GN58K29W535563,JEEP,--,SW,STATION WAGON,12000,56224.0,48:28.0,83,UD001050,714 COLUMBUS AVE,LEBANON,OH,45036,45068
4,2GTEC19T421184446,GMC,SIERRA C1500SIE,PT,PICKUP TRUCK,6995,111339.0,48:33.0,83,UD001050,714 COLUMBUS AVE,LEBANON,OH,45036,45103

In [14]:
zipcross = pd.read_csv('ZipCodetoZCTACrosswalk2015UDS (1).csv')
zipcross = zipcross[["ZIP", "ZCTA_USE"]]

In [15]:
df.merge(zipcross, left_on='ownerZIP', right_on='ZIP')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [16]:
zipcross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41250 entries, 0 to 41249
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIP       41250 non-null  int64
 1   ZCTA_USE  41250 non-null  int64
dtypes: int64(2)
memory usage: 644.7 KB